/* FORMULARIO */
.cadastro {
    background-color: #f9f9f9;
    padding: 2.5rem 1.25rem;
}

.cadastro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
}

.cadastro-texto {
    flex: 1;
    min-width: 100%;
    max-width: 90%;
    background-color: #cfd8e2;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.625rem rgba(0,0,0,0.05);
    text-align: left;
}

.cadastro-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #aec8d9;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.9375rem rgba(0,0,0,0.05);
}

.form-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

.form-cadastro input[type="text"],
.form-cadastro input[type="email"],
.form-cadastro input[type="tel"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease;
}

.form-cadastro input:focus {
    border-color: #193e60;
    outline: none;
}

.form-cadastro button {
    width: 100%;
    padding: 0.75rem;
    background-color: #193e60;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.form-cadastro button:hover {
    background-color: #14518a;
}
/* Responsiviade */
@media (max-width: 480px) {
    .cadastro {
        padding: 1.5rem 0.5rem;
    }
    
    .cadastro-texto, .cadastro-caixa {
        max-width: 95%;
        padding: 1rem;
    }
    
    .form-cadastro input[type="text"],
    .form-cadastro input[type="email"],
    .form-cadastro input[type="tel"] {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    
    .form-cadastro button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}