 <!-- CADASTRO -->
 <section class="cadastro" id="cadastro">
    <div class="cadastro-caixa">
        <div class="cadastro-texto">
            <h2 class="section-title">Inscreva-se agora!</h2>
            <p class="text-cadastro esquerdo">
                Se inscreva agora para não perder essa grande oportunidade que pode mudar sua vida, 
                além de ficar sabendo de todas as novidades que acontecerão sobre o evento.
            </p>
        </div>

        <form action="#" method="POST" class="form-cadastro">
            <input type="text" name="name" placeholder="Nome Completo" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="phone" placeholder="Telefone" required>

            <label class="checkbox-container">
                <input type="checkbox" name="updates" value="sim">
                Desejo receber atualizações sobre o Feirão no Eniac
            </label>

            <button type="submit">Enviar</button>
        </form>
    </div>
</section>