<!-- Carrossel Swiper  -->
<div class="slider-container">
    <div class="slider-wrapper swiper-wrapper">
        <!-- Slide 1 -->
        <div class="slider-item swiper-slide">
            <div class="slide-content">
                <h3 class="slide-subtitle">Slide 01</h3>
                <h2 class="slide-title">Feirão do Emprego</h2>
                <p class="slide-description">Quando falamos de carreira, acreditamos que tudo começa com uma jornada de​ autoconhecimento.</p>
                <a href="#" class="slide-button"><span>Saiba Mais</span></a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="slider-item swiper-slide">
            <div class="slide-content">
                <h3 class="slide-subtitle">Slide 02</h3>
                <h2 class="slide-title">Construa sua carreira</h2>
                <p class="slide-description">Aqui, você tem a chance de construir a trajetória da sua carreira e se conectar com as melhores empresas e oportunidades disponíveis.</p>
                <a href="#" class="slide-button"><span>Saiba Mais</span></a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="slider-item swiper-slide">
            <div class="slide-content">
                <h3 class="slide-subtitle">Slide 03</h3>
                <h2 class="slide-title">Viva essa experiência!</h2>
                <p class="slide-description">Venha fazer parte da maior feira de empregos de Guarulhos.</p>
                <a href="#" class="slide-button"><span>Saiba Mais</span></a>
            </div>
        </div>
    </div>

    <!-- Paginação -->
    <div class="slider-controls">
        <ul class="slider-pagination">
            <div class="slider-indicator"></div>
            <li class="slider-tab">Feirão do Emprego</li>
            <li class="slider-tab">Carreira</li>
            <li class="slider-tab">Conheça Mais</li>
        </ul>
    </div>

    <!-- Navegação Prev/Next -->
    <div class="slider-navigations">
        <button id="slide-prev" class="material-symbols-rounded">arrow_left_alt</button>
        <button id="slide-next" class="material-symbols-rounded">arrow_right_alt</button>
    </div>
</div>

<!-- Links do Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
