<footer class="footer" id="footer">
    <div class="footer-section logo">
        <a href="https://www.eniac.edu.br"><img src="/images/navbar/logo-eniac.png" alt="Logo ENIAC"></a>
    </div>

    <div class="footer-section foot-info">
        <h1 class="title-folder">ENIAC</h1>
        <a href="https://maps.app.goo.gl/um1gKuPENWJ7z37s9" target="_blank" class="text-folder">
            R. Força Pública, 89 - Centro, Guarulhos - SP, 07012-030
        </a>
        <p class="copyright">© Centro Universitário ENIAC, Todos os Direitos reservados</p>
        <p class="copyright integrantes">Realizado por:</p>
        <ul class="team-list">
            <li class="li-footer"><a href="https://www.linkedin.com/in/rhyan-lemos-silveira/">Rhyan Lemos</a></li>
            <li class="li-footer"><a href="https://www.linkedin.com/in/erick-oliveira-538308227/">Erick Oliveira</a></li>
            <li class="li-footer"><a href="https://www.linkedin.com/in/joão-pedro-orem-de-moura-202524275/">João Pedro Moura</a></li>
            <li class="li-footer"><a href="https://br.linkedin.com/in/gustavo-gerstmann-77ba73247">Gustavo Gerstmann</a></li>
        </ul>
    </div>

    <div class="footer-section image-folder">
        <a href="https://www.linkedin.com/school/eniacoficial/"><img src="/images/contato/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://www.youtube.com/@eniac.oficial"><img src="/images/contato/youtube.svg" alt="YouTube"></a>
        <a href="https://www.instagram.com/eniac.oficial/"><img src="/images/contato/instagram.svg" alt="Instagram"></a>
        <a href="https://x.com/eniacoficial"><img src="/images/contato/twitter-x.svg" alt="Twitter"></a>
    </div>
</footer>
