<section id="importancia">
    <div class="importance-wrapper">
        <h2 class="section-title">Por que participar?</h2>
        <p class="section-importance">Descubra os principais benefícios de participar do Feirão do Emprego ENIAC</p>
        <p class="section-importance">Clique em cada um dos quadrados!</p>
     <div class="importance-wrapper">
            <div class="importance-container">
                <div class="importance-card" onclick="toggleCard(this)">
                    <img src="/images/importancia/conversar.png" alt="Networking" class="importance-icon">
                    <div class="importance-title">Networking</div>
                    <div class="importance-text">
                        Ao participar do evento, você irá aumentar o seu networking, algo essencial atualmente para aumentar suas chances em uma vaga. Conheça profissionais da área e crie conexões valiosas para sua carreira.
                    </div>
                </div>
    
                <div class="importance-card" onclick="toggleCard(this)">
                    <img src="/images/importancia/noot.png" alt="Visibilidade com Recrutadores" class="importance-icon">
                    <div class="importance-title">Visibilidade com Recrutadores</div>
                    <div class="importance-text">
                        Comparecer ao evento coloca você na vitrine para recrutadores, o que pode gerar entrevistas e oportunidades diretamente. Aproveite para deixar seu currículo e fazer contatos importantes.
                    </div>
                </div>
    
                <div class="importance-card" onclick="toggleCard(this)">
                    <img src="/images/importancia/explorar.png" alt="Explorar Oportunidades" class="importance-icon">
                    <div class="importance-title">Explorar Oportunidades</div>
                    <div class="importance-text">
                        É uma chance única para conhecer empresas, estágios e áreas que talvez você não conhecesse fora do evento. Descubra novas possibilidades para sua carreira profissional.
                    </div>
                </div>
    
                <div class="importance-card" onclick="toggleCard(this)">
                    <img src="/images/importancia/desenvolvimento.png" alt="Desenvolvimento Pessoal" class="importance-icon">
                    <div class="importance-title">Desenvolvimento Pessoal</div>
                    <div class="importance-text">
                        A experiência de interagir, aprender e se apresentar fortalece habilidades interpessoais e a confiança em eventos profissionais. Melhore sua comunicação e postura profissional.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
