<!-- Informações do Evento -->
<section id="info" class="info">
    <div class="infocont">
        <div class="infocaixatexto">
            <p class="infotexto">
                O Feirão do Emprego é mais do que uma busca por vagas: é a sua chance de se conectar com grandes empresas, entender as tendências do mercado e se destacar na carreira dos seus sonhos.
            </p>
        </div>
    </div>
    <div class="impocont">
        <div class="impocaixatexto">
            <p class="impotexto">
                No Feirão do Emprego do Eniac, você descobre o poder da capacitação contínua. Desenvolva habilidades essenciais e construa uma carreira sólida, esteja você empregado ou em busca de novas oportunidades.
            </p>
        </div>
    </div>
</section>