    <!-- Informações do Evento -->
    <section id="info" class="info">
        <div class="infocont">
            <div class="infocaixatexto">
                <p class="infotexto">
                    Para os participantes, o evento ofereceu mais do que a chance de encontrar um emprego; foi uma oportunidade de networking, de compreender melhor as exigências do mercado atual e de se posicionar de maneira mais assertiva em suas áreas de interesse.
                </p>
            </div>
        </div>
        <div class="impocont">
            <div class="impocaixatexto">
                <p class="impotexto">
                    Para os participantes, tanto empregados quanto à procura de emprego, o Feirão do Emprego no Eniac representa uma mensagem clara: a importância da educação contínua e do desenvolvimento de habilidades na construção de uma carreira sólida.
                </p>
            </div>
        </div>
    </section>