<section class="location-section" id="localizacao">
    <h2 class="section-title">Localização e Horário</h2> 
    <div class="info-box"> 
        <ul class="desc">
            <li class="desc-item">
                <img src="/images/localizacao/agenda.png" alt="Ícone de agenda">
                <span>Data: 25 e 26 de Maio</span>
            </li>
            <li class="desc-item">
                <img src="/images/localizacao/relogio.png" alt="Ícone de relógio">
                <span>Horário: das 9h às 18h</span>
            </li>
            <li class="desc-item">
                <img src="/images/localizacao/local.png" alt="Ícone de localização">
                <span>R. Força Pública, 89 - Centro, Guarulhos - SP, 07012-030</span>
            </li>
        </ul>
    </div> 

    <div class="mapBox"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25340.517439938016!2d-46.54157986085052!3d-23.472926801297568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef55eb2540001%3A0xdf80bffdcd8b95f!2sEniac!5e0!3m2!1spt-BR!2sbr!4v1746067861040!5m2!1spt-BR!2sbr" 
            style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div> 

    <div class="observation"> 
        📝 <strong>Observação:</strong> Traga seu currículo físico
    </div> 
</section>
