<!-- Banner de Parceiros -->
<section id="parceiro">
    <h2 class="section-title">Nossos Parceiros</h2>
    <p class="section-intro">Empresas que estão participando do Feirão do Emprego</p>

    <div class="banner">
        <div class="slider" style="--quantity: 8">
            <div class="item" style="--position: 1"><img src="/images/empresas-parceiras/altamira.jpg" alt="Altamira"></div>
            <div class="item" style="--position: 2"><img src="/images/empresas-parceiras/cummins.jpg" alt="Cummins"></div>
            <div class="item" style="--position: 3"><img src="/images/empresas-parceiras/eniac.jpg" alt="Eniac"></div>
            <div class="item" style="--position: 4"><img src="/images/empresas-parceiras/karina.png" alt="Karina"></div>
            <div class="item" style="--position: 5"><img src="/images/empresas-parceiras/marilia.jpg" alt="Marilia"></div>
            <div class="item" style="--position: 6"><img src="/images/empresas-parceiras/redfox.jpg" alt="Redfox"></div>
            <div class="item" style="--position: 7"><img src="/images/empresas-parceiras/reisoffice.jpg" alt="Reis Office"></div>
            <div class="item" style="--position: 8"><img src="/images/empresas-parceiras/ritacco.jpg" alt="Ritacco"></div>
        </div>
    </div>
</section>